.slider {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.2s ease;
}

.slide {
    position: absolute;
    top: 0;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    background-size: cover;
    background-attachment: scroll; /* importante per proporzioni su ios */
}

.fake-slide {
    padding: 3rem 2rem 2rem 2rem;
    display: flex;
    /* align-items: flex-end; */
    align-items: flex-start;
    /* justify-content: center; */
}

.fake-slide h2 {
    line-height: 1.2em;
    font-size: 1.8em;
    font-weight: 200;
    font-family: "Montserrat";
    max-width: 300px;
    transition: 0.5s ease;
    transition-delay: 0.7s;
    margin-top: 50px;
}

/* HOME */

.content {
    display: flex;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    position: relative;
    z-index: 2;
    flex-grow: 1;
    /* align-items: stretch; */
}
.headingsWrap {
    /* width: 66%; */
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    position: relative;
}
.headingsWrap a {
}
.headingsWrap h1 {
    font-size: 2em;
    line-height: 0.9em;
    /* margin-bottom: 2rem; */
    font-family: "Aquire Bold", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
.headingsWrap h1,
.fake-slide h2 {
    transition: 0.5s ease;
}
.fake-slide h2 {
    line-height: 1.2em;
    font-size: 1.8em;
    transition-delay: 0.7s;
}
.headingsWrap > div:nth-child(2) {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.fake-slide h2,
.poweredBy {
    font-weight: 100;
    font-family: "Montserrat";
    max-width: 300px;
}

.poweredByWrap {
    position: absolute;
    bottom: 0;
    right: 0;
}
.poweredBy {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.7em;
    line-height: 0.7em;
    vertical-align: middle;
    transition: 0.5s ease;
    transition-delay: 1s;
}
.poweredBy > a {
    margin-left: 0.5rem;
}

@media screen and (max-width: 1700px) {
    .headingsWrap h1 {
        font-size: 2em;
        /* margin-bottom: 2rem; */
        /* max-width: 350px; */
    }
    .fake-slide h2 {
        font-size: 1.7em;
        margin-bottom: 2rem;
        max-width: 280px;
    }
}
@media screen and (max-height: 950px) {
    .headingsWrap h1,
    .fake-slide h2 {
        font-size: 2.5em;
        /* margin-bottom: 4rem; */
    }
}

@media screen and (max-width: 1400px) {
    .headingsWrap h1 {
        font-size: 2em;
        /* margin-bottom: 2rem; */
    }
    .fake-slide h2 {
        font-size: 1.6em;
        margin-bottom: 2rem;
        max-width: 250px;
    }
}

@media screen and (max-width: 1250px) {
    .circleBox {
        /* height: 360px;
        width: 360px; */
        margin-bottom: 1rem;
    }
    .headingsWrap {
        width: 580px;
    }
    .headingsWrap > h1 {
        /* font-size: 2.8em; */
        white-space: normal;
    }
    /* .fake-slide h2 {
        font-size: 2.4em;
    } */
}

@media screen and (max-width: 580px) {
    .headingsWrap {
        width: 380px;
    }
    .headingsWrap h1 {
        font-size: 2.5em;
        white-space: normal;
    }
    .fake-slide > h2 {
        font-size: 1.7em;
        margin-bottom: 2.2rem;
        max-width: 220px;
    }
    .poweredBy {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 470px) {
    .headingsWrap {
        width: 100%;
    }
    .headingsWrap h1 {
        font-size: 1.5em;
    }

    .fake-slide h2 {
        font-size: 1.4em;
        margin-bottom: 2.2rem;
        /* font-weight: 500; */
    }
    .poweredBy {
        font-size: 0.8em;
        font-weight: 500;
    }
}
