.wrap {
    margin-top: 5rem;
    display: flex;
    align-items: center;
}
.wrap svg {
    height: 15px;
    /* width: 15px; */
    fill: white;
}
.wrap > svg:nth-child(3) {
    transform: rotate(180deg);
}
.slider {
    width: 300px;
    height: 300px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    margin: 0 1.5rem;
}
.slider::-webkit-scrollbar {
    display: none;
}
.slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;
    position: relative;
}

@media screen and (max-width: 470px) {
    .slider {
        width: 200px;
        height: 200px;
    }
    .slide {
        width: 200px;
    }
}
