.main {
    min-height: 100vh;
}
.section {
    min-height: 100vh;
    /* border-bottom: 1px solid white; */
    padding: 6rem 8rem 6rem 8rem;
}
.circleBox {
    margin-top: 5rem;
    height: 450px;
    width: 450px;
    margin-bottom: 180px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.circleBox > span {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    outline: 1px solid white;
    height: 100%;
    width: 100%;
}

/* HOME */
#Home {
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: center; */
    align-items: flex-start;
    align-items: stretch;
    padding: 3rem 2rem 2rem 2rem;
}
#Home > .content {
    display: flex;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    position: relative;
    z-index: 2;
    flex-grow: 1;
    /* align-items: stretch; */
}
#Home .headingsWrap {
    /* width: 66%; */
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
    position: relative;
}
#Home .headingsWrap > h1 {
    font-size: 4em;
    font-family: "Aquire Bold", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}
#Home .headingsWrap > h1,
#Home .headingsWrap > h2 {
    margin-bottom: 2rem;
    line-height: 0.9em;
    transition: 0.5s ease;
}
#Home .headingsWrap > h2 {
    font-size: 2.6em;
    transition-delay: 0.7s;
}
#Home .headingsWrap > h2,
.poweredBy {
    font-weight: 100;
    font-family: "Montserrat";
    max-width: 400px;
}

#Home .poweredByWrap {
    position: absolute;
    bottom: 0;
    right: 0;
}
.poweredBy {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.7em;
    line-height: 0.7em;
    vertical-align: middle;
    transition: 0.5s ease;
    transition-delay: 1s;
}
.poweredBy > a {
    margin-left: 0.5rem;
}

/* INTRO */
#Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
    /* min-height: 120vh; */
    padding-top: 10rem;
}
#Intro h3 {
    font-size: 2.4em;
    padding: 2rem;
    font-weight: normal;
}
#Intro > div:nth-child(1) {
    /* margin-top: auto; */
}
#Intro > div:nth-child(2) {
    margin-top: auto;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
    word-spacing: 0.45rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
    word-spacing: 1.66rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
    word-spacing: 1.3rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
    word-spacing: 2.15rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
    word-spacing: 0.54rem;
}
/* #Intro .justifiedRow {
    text-align: justify;
} */
#Intro p {
    font-size: 2.7em;
    width: 100%;
    text-align: justify;
    line-height: 1.3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* CLIENTS */
#Clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    /* min-height: 120vh; */
    margin-top: 10rem;
}
#Clients h4 {
    text-align: center;
    font-size: 4.5em;
    font-family: "Montserrat";
    font-weight: 100;
    margin-bottom: 5rem;
}

/* BOOK */

#Book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
    /* min-height: 110vh; */
    min-height: 30vh;
}
#Book h5 {
    font-size: 3.5em;
    padding: 1rem;
    font-weight: 500;
}
#Book > a:nth-child(1) {
    margin-top: auto;
}
#Book > div:nth-child(2) {
    margin-top: auto;
}
#Book p {
    font-size: 4em;
    text-align: center;
    line-height: 1.3em;
    font-weight: 100;
    max-width: 1000px;
}

/* CONTACT */
#Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    padding-top: 20rem;
}
#Contact > .wrap {
    width: 80%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.contactWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#Contact h6 {
    font-size: 3.5em;
    font-weight: 400;
    margin-bottom: 5rem;
}
#Contact .address {
    margin-bottom: 5rem;
    /* margin-left: 1rem; */
    display: flex;
    flex-direction: column;
    width: 350px;
}
#Contact .address > p:nth-child(1) {
    font-weight: 400;
    font-size: 1.2em;
    line-height: 2.5em;
    margin-left: 0;
}
#Contact .address p {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.8em;
}
#Contact a:hover {
    text-decoration: underline;
}
#Contact .address > div {
    margin-left: 0.5rem;
}

.phone,
.email {
    display: flex;
    align-items: center;
}

.phone svg {
    fill: white;
    height: 15px;
    width: 25px;
    margin-right: 10px;
}

.email svg {
    fill: white;
    height: 14px;
    width: 25px;
    margin-right: 10px;
}

.copyrights {
    width: 100%;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 12px;
    font-weight: 400;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1810px) {
    #Intro p {
        font-size: 2.2em;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
        word-spacing: 0.36rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
        word-spacing: 1.37rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
        word-spacing: 1.07rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
        word-spacing: 1.78rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
        word-spacing: 0.47rem;
    }
}
@media screen and (max-height: 1200px) {
    #Book {
        /* min-height: 120vh; */
        margin-top: 10rem;
    }
}
@media screen and (max-width: 1700px) {
    #Home .headingsWrap > h1,
    #Home .headingsWrap > h2 {
        font-size: 3em;
        margin-bottom: 4rem;
        max-width: 700px;
    }
    #Home .headingsWrap > h2,
    .poweredBy {
        max-width: 500px;
    }
    /* .poweredBy {
        font-size: 2.5em;
    } */
}
@media screen and (max-height: 950px) {
    #Home .headingsWrap > h1,
    #Home .headingsWrap > h2 {
        font-size: 5em;
        margin-bottom: 4rem;
    }
    /* .poweredBy {
        font-size: 2.5em;
    } */

    #Intro {
        /* min-height: 160vh; */
    }
    #Book {
        /* min-height: 180vh; */
    }
}

@media screen and (max-width: 1400px) {
    #Home .headingsWrap > h1 {
        font-size: 3em;
        margin-bottom: 2rem;
    }
    #Home .headingsWrap > h2 {
        font-size: 2em;
        margin-bottom: 2rem;
        max-width: 300px;
    }

    /* .poweredBy {
        font-size: 1.8em;
    } */
    .poweredBy > a {
        margin-left: 0.7rem;
    }
}

@media screen and (max-width: 1250px) {
    .circleBox {
        height: 360px;
        width: 360px;
    }
    #Home > .headingsWrap {
        width: 580px;
    }
    #Home > .headingsWrap > h1 {
        /* font-size: 2.8em; */
        white-space: normal;
    }
    #Home > .headingsWrap > h2 {
        font-size: 2.4em;
    }
    #Home > .headingsWrap > h1,
    #Home > .headingsWrap > h2 {
        margin-bottom: 2rem;
    }

    /* .poweredBy {
        font-size: 1.8em;
    } */

    #Intro {
        /* min-height: 140vh; */
    }
    #Intro h3 {
        font-size: 2em;
    }
    #Intro p {
        font-size: 1.3em;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
        word-spacing: 0.21rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
        word-spacing: 0.8rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
        word-spacing: 0.64rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
        word-spacing: 1.05rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
        word-spacing: 0.27rem;
    }

    #Clients h4 {
        font-size: 3em;
    }

    #Book {
        /* min-height: 140vh; */
        margin-top: 4rem;
    }
    #Book h5 {
        font-size: 3em;
    }
    #Book p {
        font-size: 3em;
    }
}

@media screen and (max-width: 990px) {
    /* #Contact > .wrap {
        width: 305px;
    } */
    .section {
        padding: 6rem 6rem 6rem 6rem;
    }
}

@media screen and (max-width: 720px) {
    .section {
        padding: 6rem 2rem 6rem 2rem;
    }
    #Clients {
        min-height: auto;
        margin-bottom: 10rem;
    }
    #Book {
        padding: 6rem 4rem 6rem 4rem;
    }
    #Contact {
        /* margin-top: 33vh; */
    }
    #Contact > .wrap {
        align-items: flex-start;
        width: 100%;
        max-width: 250px;
    }
    .contactWrap {
        flex-direction: column;
    }
    #Contact h6 {
        font-size: 2.5em;
        /* text-align: center;
        width: 100%; */
    }
    #Contact .address {
        width: auto;
    }
    #Contact .address > div {
        margin-left: 0;
    }
    #Contact .address p {
        font-size: 0.95em;
        line-height: 2.2rem;
        white-space: nowrap;
        /* overflow: hidden; */
        text-overflow: clip;
    }
    .phone svg {
        height: 15px;
        width: 20px;
    }
    .email svg {
        height: 13px;
        width: 20px;
    }
}

@media screen and (max-width: 580px) {
    #Home {
        flex-direction: row;
    }
    #Home .headingsWrap {
        width: 380px;
    }
    #Home .headingsWrap > h1 {
        font-size: 2.5em;
        white-space: normal;
    }
    #Home .headingsWrap > h2 {
        font-size: 1.7em;
        margin-bottom: 2.2rem;
        max-width: 220px;
    }
    .poweredBy {
        font-size: 0.9em;
    }
    #Intro p {
        font-size: 1em;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
        word-spacing: 0.16rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
        word-spacing: 0.62rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
        word-spacing: 0.5rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
        word-spacing: 0.83rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
        word-spacing: 0.22rem;
    }
}

@media screen and (max-width: 510px) {
    .circleBox {
        height: 280px;
        width: 280px;
        margin-bottom: 10rem;
    }
    #Intro h3 {
        font-size: 1.6em;
    }
    #Intro p {
        font-size: 0.8em;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
        word-spacing: 0.125rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
        word-spacing: 0.51rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
        word-spacing: 0.41rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
        word-spacing: 0.67rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
        word-spacing: 0.18rem;
    }
    #Book h5 {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 470px) {
    #Home .headingsWrap {
        width: 100%;
    }
    #Home .headingsWrap > h1 {
        font-size: 2.2em;
    }

    #Home .headingsWrap > h2 {
        font-size: 1.4em;
        margin-bottom: 2.2rem;
        font-weight: 500;
    }
    .poweredBy {
        font-size: 0.8em;
        font-weight: 500;
    }
    .poweredBy > a {
        margin-left: 0.6rem;
    }
    #Intro p {
        font-size: 0.7em;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
        word-spacing: 0.11rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
        word-spacing: 0.44rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
        word-spacing: 0.36rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
        word-spacing: 0.59rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
        word-spacing: 0.16rem;
    }
}

@media screen and (max-width: 400px) {
    .circleBox {
        height: 220px;
        width: 220px;
    }

    #Intro h3 {
        font-size: 1.2em;
        padding: 3rem;
    }
    #Book h5 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 370px) {
    #Intro p {
        font-size: 0.6em;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
        word-spacing: 0.095rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
        word-spacing: 0.37rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
        word-spacing: 0.3rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
        word-spacing: 0.505rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
        word-spacing: 0.14rem;
    }
}

@media screen and (max-width: 300px) {
    .circleBox {
        height: 240px;
        width: 240px;
    }
    #Book h5 {
        font-size: 1.4em;
    }
}

@media screen and (max-height: 500px) {
    .section {
        padding: 2rem 2rem 2rem 2rem;
        /* padding: 3rem 2rem 6rem 2rem; */
    }
    #Home .headingsWrap > h1 {
        font-size: 3em;
        margin-bottom: 1.5rem;
    }
    #Home .headingsWrap > h2 {
        font-size: 2em;
        margin-bottom: 1.5rem;
    }
    .poweredBy {
        font-size: 0.7em;
    }
    #Intro {
        padding-top: 6rem;
    }
    #Clients {
        margin-top: 6rem;
    }
}
