.main {
    min-height: 100vh;
    overflow: hidden;
}
.section {
    min-height: 100vh;
    /* border-bottom: 1px solid white; */
    padding: 6rem 8rem 6rem 8rem;
}
.circleBox {
    /* margin-top: 10rem; */
    /* margin-top: 2rem; */
    /* margin-bottom: -10rem; */
    height: 320px;
    width: 320px;
    /* margin-bottom: 180px; */
    margin-bottom: 2rem;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    overflow: hidden;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.circleBox > span {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid white;
    outline: 1px solid white;
    height: 100%;
    width: 100%;
}

/* HOME */
#Home {
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: center; */
    align-items: flex-start;
    align-items: stretch;
    padding: 2rem 3rem 2rem 3rem;
}

/* INTRO */
#Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
    /* min-height: 120vh; */
    height: 100vh;
    padding: 14rem 4rem 0rem 4rem;
}
#Intro .justifiedRowsWrap {
    margin-bottom: 10rem;
}
#Intro .justifiedRowsWrap > .justifiedRow {
    text-align: justify;
    width: 100%;
    max-height: 1.5rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:after {
    /* used to stretch word */
    content: "";
    width: 100%;
    display: inline-block;
    height: 0px;
    line-height: 0px;
}

#Intro h3 {
    font-size: 1.5em;
    max-width: 80%;
    font-weight: 300;
}
#Intro .justifiedRowsWrap > .justifiedRow {
    font-size: 1.3em;
}
/* #Intro .justifiedRowsWrap > .justifiedRow:nth-child(1) {
    word-spacing: 0.21rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(3) {
    word-spacing: 0.8rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(4) {
    word-spacing: 0.64rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(5) {
    word-spacing: 1.05rem;
}
#Intro .justifiedRowsWrap > .justifiedRow:nth-child(6) {
    word-spacing: 0.27rem;
} */

/* CLIENTS */
#Clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 0;
    /* min-height: 120vh; */
    height: 100vh;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 2rem 8rem 4rem 8rem;
}
#Clients h4 {
    text-align: center;
    font-size: 1.5em;
    font-family: "Montserrat";
    font-weight: 100;
    margin-bottom: 4rem;
}

/* CONTACT */
#Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat";
    padding-top: 0rem;
    padding-bottom: 0;
    min-height: 0;
    height: 100vh;
}
#Contact > .wrap {
    width: 100%;
    max-width: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contactWrap {
    width: 100%;
    max-width: 660px;
    display: flex;
    justify-content: space-between;
    /* margin-top: 4rem; */
    /* margin-bottom: 1rem; */
}

#Contact .headline {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.3em;
    font-weight: 100;
    max-width: 800px;
}
#Contact h6 {
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: center;
}
#Contact .address {
    /* margin-left: 1rem; */
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-bottom: 2rem;
}
#Contact > .wrap > .address:last-child * {
    text-align: center;
    justify-content: center;
}
#Contact .address > p:nth-child(1) {
    font-weight: 400;
    font-size: 1em;
    line-height: 2.5em;
    margin-left: 0;
}
#Contact .address p {
    font-size: 0.85em;
    font-weight: 200;
    line-height: 1.7em;
}
#Contact a:hover {
    text-decoration: underline;
}
#Contact .address > div {
    /* margin-left: 0.5rem; */
}
#Contact #FinalAddress {
    display: flex;
    justify-content: center;
    width: auto;
    /* margin-bottom: auto; */
}
#Contact #FinalAddress svg {
    /* margin: 0; */
}

.phone,
.email,
.website {
    display: flex;
    align-items: center;
}

.phone svg {
    fill: white;
    height: 13px;
    width: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.email svg {
    fill: white;
    height: 10px;
    width: 20px;
    margin-bottom: 1px;
    margin-right: 10px;
}
.website svg {
    fill: white;
    height: 15px;
    width: 20px;
    margin-bottom: 1px;
    margin-right: 12px;
}

.copyrights {
    width: 100%;
    text-align: center;
    /* padding: 1rem 3rem; */
    font-size: 10px;
    font-weight: 200;
    height: 4vh;
    margin-top: 2rem;
    font-family: "Montserrat";
    justify-self: flex-end;
    position: absolute;
    bottom: 0;
}

/* RESPONSIVENESS */

@media screen and (max-width: 1810px) {
    .circleBox {
        height: 360px;
        width: 360px;
    }
}
/* @media screen and (max-height: 1200px) {} */
/* @media screen and (max-height: 950px) {} */

@media screen and (max-height: 720px) {
    .circleBox {
        height: 290px;
        width: 290px;
        /* margin-top: 0; */
        margin-bottom: 0;
    }
    #Intro h3 {
        font-size: 1.25em;
    }
    #Clients h4 {
        margin-bottom: 2rem;
    }
    #Contact h6 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

/* @media screen and (max-width: 1400px) {} */

@media screen and (max-width: 1250px) {
    .circleBox {
        /* height: 360px;
        width: 360px; */
        /* margin-bottom: 1rem; */
    }

    #Intro .justifiedRowsWrap > .justifiedRow {
        font-size: 1.2em;
    }

    #Clients h4 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 990px) {
    /* #Contact > .wrap {
        width: 305px;
    } */
    .section {
        padding: 6rem 6rem 6rem 6rem;
    }
    #Clients {
        height: auto;
    }
    #Clients h4 {
        margin-bottom: 0rem;
    }
}

@media screen and (max-width: 720px) {
    .section {
        padding: 6rem 2rem 6rem 2rem;
    }
    #Clients {
        min-height: 100vh;
        margin-bottom: 0;
        margin-top: 0;
        padding: 4rem;
        justify-content: start;
    }
    #Book {
        padding: 6rem 4rem 6rem 4rem;
    }
    #Contact {
        /* margin-top: 33vh; */
        height: 100vh;
        padding-top: 1rem;
        padding-bottom: 0;
        align-items: flex-end;
    }
    #Contact > .wrap {
        /* align-items: flex-start; */
        height: 100%;
        width: 100%;
        max-width: 250px;
        justify-content: space-between;
    }
    #Contact .headline {
        font-size: 1.3em;
        text-align: left;
        max-width: 200px;
        margin-top: 30px;
    }
    .contactWrap {
        flex-direction: column;
        margin-bottom: 0rem;
        width: auto;
        /* align-self: flex-start; */
    }
    #Contact h6 {
        font-size: 1.25em;
        /* text-align: center;
        width: 100%; */
        margin: 1rem 0 1rem 0;
        text-align: left;
        /* align-self: flex-start; */
        width: 200px;
    }
    #Contact .address {
        /* width: 100%; */
        width: 200px;
        margin-bottom: 1rem;
        /* align-self: flex-start; */
    }
    #Contact > .wrap > .address:last-child {
        margin-bottom: 0;
    }

    #Contact .address > div {
        margin-left: 0;
    }
    #Contact > .wrap > .address:last-child * {
        justify-content: flex-start;
    }
    #Contact .address p {
        font-size: 0.75em;
        line-height: 1.5rem;
        white-space: nowrap;
        /* overflow: hidden; */
        text-overflow: clip;
    }
    #Contact .address > p:nth-child(1) {
        font-size: 0.85rem;
    }
    #Contact #FinalAddress {
        width: 200px;
        margin-bottom: 50px;
    }
    .phone svg {
        height: 12px;
        width: 20px;
    }
    .email svg {
        height: 10px;
        width: 20px;
    }
    .copyrights {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 680px) {
    #Intro .justifiedRowsWrap > .justifiedRow {
        font-size: 1em;
    }
}
@media screen and (max-width: 580px) {
    #Home {
        flex-direction: row;
        padding: 2rem 1rem 2rem 1rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 510px) {
    .circleBox {
        height: 280px;
        width: 280px;
        /* margin-bottom: 10rem; */
    }
    #Intro {
        justify-content: center;
    }
    #Intro > div:nth-child(2) {
        margin-top: 0;
    }

    #Book h5 {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 470px) {
    #Intro {
        padding: 2rem 1rem;
    }
    #Intro .justifiedRowsWrap > .justifiedRow {
        font-size: 0.65em;
        max-height: 1rem;
    }
}

@media screen and (max-width: 400px) {
    .circleBox {
        height: 220px;
        width: 220px;
    }
    #Intro h3 {
        font-size: 1.2em;
        /* padding: 3rem; */
    }
    #Book h5 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 370px) {
    #Home {
        padding: 2rem 1rem;
    }
    #Intro .justifiedRowsWrap {
        width: 270px;
    }
    #Intro .justifiedRowsWrap > .justifiedRow {
        font-size: 0.55em;
    }
}

@media screen and (max-width: 300px) {
    .circleBox {
        height: 240px;
        width: 240px;
    }
    #Book h5 {
        font-size: 1.4em;
    }
}

@media screen and (max-height: 600px) {
    #Contact {
        height: auto;
    }
}
@media screen and (max-height: 500px) {
    .section {
        padding: 2rem 2rem 2rem 2rem;
        /* padding: 3rem 2rem 6rem 2rem; */
    }

    .poweredBy {
        font-size: 0.7em;
    }
    #Intro {
        padding: 2rem;
    }
    .circleBox {
        height: 240px;
        width: 240px;
    }
    #Clients {
        /* margin-bottom: 3rem; */
    }
}
@media screen and (max-height: 340px) {
    .circleBox {
        height: 200px;
        width: 200px;
    }
    #Intro h3 {
        font-size: 1em;
    }
}
