.main {
    min-height: 100vh;
}
.section {
    height: 100vh;
    border-bottom: 1px solid white;
    padding: 6rem 2rem 3rem 2rem;
}
.circleBox {
    height: 580px;
    width: 580px;
    border-radius: 80%;
    border: 2px solid white;
    outline: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* HOME */
#Home {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
#Home > div {
    width: 40%;
}
#Home > div > h1,
#Home > div > h2 {
    font-size: 6em;
    margin-bottom: 7rem;
    line-height: 0.9em;
}
#Home > div > h2,
#Home > div > div > span {
    font-weight: 100;
    font-family: "Montserrat";
}
#Home > div > div {
    display: flex;
    align-items: center;
    opacity: 0.8;
}
#Home > div > div > span {
    font-weight: 400;
    font-size: 3em;
    line-height: 0.7em;
    vertical-align: middle;
    transition: 0.5s ease;
}
#Home > div > div > span > a {
    margin-left: 1.2rem;
}

/* INTRO */
#Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
}
#Intro h3 {
    font-size: 3.5em;
    padding: 1rem;
    font-weight: normal;
}
#Intro > div:nth-child(1) {
    margin-top: auto;
}
#Intro > div:nth-child(2) {
    margin-top: auto;
}
#Intro p {
    font-size: 2.7em;
    text-align: center;
    line-height: 1.3em;
}

/* CLIENTS */
#Clients {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#Clients h4 {
    text-align: center;
    font-size: 4.5em;
    font-family: "Montserrat";
    font-weight: 100;
    margin-bottom: 5rem;
}
#Clients > div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    max-width: 1800px;
    height: 100%;
    max-height: 900px;
    align-items: center;
    justify-items: center;
    margin-bottom: auto;
}

.fakeLogo {
    background-color: white;
    width: 250px;
    height: 150px;
}

/* BOOK */

#Book {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "Montserrat";
}
#Book h5 {
    font-size: 3.5em;
    padding: 1rem;
    font-weight: 500;
}
#Book > a:nth-child(1) {
    margin-top: auto;
}
#Book > div:nth-child(2) {
    margin-top: auto;
}
#Book p {
    font-size: 4em;
    text-align: center;
    line-height: 1.3em;
    font-weight: 100;
}
